@import 'styles/globals.scss';

.input-pass {
  @extend .input-base;
  .MuiInputAdornment-root {
    position: absolute;
    right: 0;
    width: 12px;
    height: 12px;
    font-size: 18px;
    margin-right: 16px;
  }

  input {
    width: 100%;
  }
}

.input-pass--round {
  @extend .input-base--round;
  @extend .input-pass;
}