@import 'styles/globals.scss';

.chat {
    @include flex-layout(column, space-between, center);
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;

    background-color: #222429;
    
    border-left: 2px solid $main-border-color;

    &__history-wrapper {
        @include flex-layout(column);
        margin: 4px 0;
        width: 90%;
        height: 100%;
        overflow: hidden;
    }

    &__history {
        @include flex-layout(column, flex-start, flex-start);
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        
        overflow-y: scroll;
        overflow-x: hidden;

        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }
}
