/Client/node_modules/
/Server/node_modules/

/public/bundle.css
/public/bundle.js
/public/index.html

/Server/Build/
/Client/obj/
/Server/obj/

Keyboardchat.code-workspace
/.vscode/

/.vs/Keyboardchat/DesignTimeBuild/
/.vs/Keyboardchat/v16/