@import '../../styles/globals.scss';

.room-item {
    @include flex-layout(column, center, center);
    position: relative;
    width: 100%;
    //min-height: 32px;
    height: fit-content;
    margin: 8px 0 8px 0;
    background-color: #f0f0f0;

    &.active {
        background-color: #b3b3b3;
    }

    &__content {
        @include flex-layout(row, center,  center);
        padding: 8px 0 8px 0;
        width: 100%;
        padding-bottom: 8px;
    }

    &__name {
        margin: 0;
        text-align: center;
        font-weight: 600;
        font-size: 18px;
        overflow: hidden;
        max-width: 90%;
        white-space: nowrap;
        margin: 0 8px;
    }

    &:hover {
        cursor: pointer;
    }

    & &__leave-btn {
        position: absolute;
        top: 50%;
        right: 0;
        font-size: 20px;
        padding: 4px;
        transform: translateY(-50%);
        background-color: #b3b3b3;
    }
}

.ri-form {
    @include flex-layout(column, flex-start, center);
    background-color: #f0f0f0;
    top: 0;
    width: 100%;
    z-index: 20;
    padding-bottom: 4px;

    .button {
        width: 40%;
    }

    &__buttons {
        @include flex-layout(row, space-between, center);
        width: 90%;
    }

    &__password {
        width: 90%;
    }

    &__error {
        color: red;
        margin: 0;
        margin-top: 8px;
    }
}