@import '../../styles/globals.scss';

.room-item {
    @include flex-layout(column, center, center);
    height: 32px;
    width: 100%;
    margin: 2px 0 2px 0;
    padding: 8px 0 8px 0;
    background-color: #f0f0f0;

    &__name {
        @include flex-layout(row, center, center);
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }

    &:hover {
        cursor: pointer;
    }
}