@import '../../styles/globals.scss';

.room-item {
    @include flex-layout(column, center, center);
    position: relative;
    width: 100%;
    min-height: 76px;
    margin: 2px 0 2px 0;
    padding: 8px 0 8px 0;
    background-color: #f0f0f0;

    &.active {
        background-color: #b3b3b3;
    }

    &__content {
        @include flex-layout(column, center,  center);
        height: px;
        padding-bottom: 8px;
    }

    &__name {
        @include flex-layout(row, center, center);
        text-align: center;
        font-weight: 600;
        font-size: 18px;
    }

    &:hover {
        cursor: pointer;
    }
}

.ri-form {
    @include flex-layout(column, flex-start, center);
    background-color: #f0f0f0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 20;

    .button {
        width: 50%;
    }

    &__password {
        width: 90%;
    }

    &__error {
        color: red;
        margin: 0;
        margin-top: 8px;
    }
}