@import 'styles/globals.scss';

.creation-room {
    @include flex-layout(row, center, center);
    width: 100%;
    height: 100%;
    //background-color: $main-dark-bg-color;

    &__content {
        @include flex-layout(column, center, center);
        width: 256px;
        height: 100%;
        z-index: 4;
    }
}