@import 'styles/globals.scss';

.sign-in {
  @include flex-layout(column, flex-start, center);
  max-width: 250px;
  max-height: 512px;

  .button {
      width: 100%;
  }

  .input, .input-password {
    width: 100%;
    margin: 8px 0;
  }

  &__error {
      color: red;
      text-align: center;
  }

  &__register {
    margin-top: 16px;
    color: rgb(84, 149, 170);
    display: inline-block;
  }
}