.welcome {
    width: 256px;
    height: 256px;
}

.login {
    width: 250px;

    .MuiInput-root {
        width: 100%;
    }

    .MuiButton-containedPrimary {
        margin-top: 16px;
        width: 100%;
    }
}