@import 'styles/globals.scss';

.scrn-selector {
  @include flex-layout(column, flex-start, center);
  width: 64px;
  height: 100%;
  background-color: $main-screen-selector-color;

  &__item {
    @include flex-layout(row, center, center);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-bottom: 16px;

    .item__content {
      font-size: 32px;
    }

    &.user {
    }

    &.is-active {
      background-color: lightslategray;
    }

    &:hover {
      cursor: pointer;
      background-color: rgba(144, 238, 144, 0.15);
    }
  }
}
