@import 'styles/globals.scss';

.sidebar {
    @include flex-layout(column, flex-start, center);
    height: 100%;
    position: relative;
    
    background-color: #0f0f13;

    &__content {
        @include flex-layout(column, flex-start, center);
        height: 100%;
    }

    & &__arrow-btn {
        position: absolute;
        font-size: 64px;
        right: 0;
        top: 50%;
        transform: scaleY(1.0) translate(100%, -50%);
        z-index: 3;
    }

    &__content.hidden {
        visibility: hidden;
        width: 0px;
    }

    & &__arrow-btn.hidden {
        right: 0;
        transform: scaleY(1.0) translate(100%, -50%);
    }
}