@import '../../styles/globals.scss';

.chat-input {
    @include flex-layout(column, flex-end);
    position: relative;
    font-size: 16px;
    width: 100%;
    resize: none;

    &__area {
        min-width: 100%;
        max-width: 100%;
        padding: 0;
        border: none;
        
        &:focus {
            border: none;
        }
    }

    &__controls {
        @include flex-layout(row, center, center);
        position: absolute;
        right: 0px;
        top: 7px;
    }

    &__send {
        padding: 0;
    }
}