@import 'styles/globals.scss';

.chat-input {
    @include flex-layout(column, flex-end);
    position: relative;
    font-size: 16px;
    margin-bottom: 8px;
    width: 90%;
    border-radius: 8px;
    background-color: $main-dark-bg-color;
    border: 1px solid #63686d;
    padding: 8px;

    &__area {
        width: 100%;
        border: none;
        font-size: 18px;
        resize: none;
        background-color: $main-dark-bg-color;
        color: white;

        &:focus {
            outline: none;
        }
    }

    &__controls {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }

    & &__send {
        font-size: 24px !important;
        padding: 0;
    }
}