@import '../../styles/globals.scss';

$msg-content-bg-color: #f0f0f0;
$msg-content-border-radius: 16px;

.chat-msg {
    @include flex-layout(column, center, flex-start);
    margin: 16px 0px 16px 0px;
    max-width: 100%;

    &__user {
        margin-bottom: 8px;
    }

    &__name {
        font-size: 20px;
        font-style: italic;
        font-weight: 500;
        display: inline-block;
        z-index: 2;
    }

    &__av {
        border-radius: 50%;
        width: 32px;
        height: 32px;
        margin-right: 16px;
    }

    &__text {
        max-width: 100%;
    }

    &__content {
        @include flex-layout(column, flex-start, flex-start);
        background-color: $msg-content-bg-color;
        position: relative;
        padding: 16px;
        
        border-radius: $msg-content-border-radius;
        max-width: 100%;
        margin-left: calc(32px + 16px);
        overflow-wrap: break-word;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: $msg-content-border-radius;
            height: $msg-content-border-radius;
            background-color: $msg-content-bg-color;
        }
    }
}