@import '../../styles/globals.scss';

.chat-msg {
    @include flex-layout(row, flex-start, flex-start);
    margin: 4px;
    max-width: 90%;

    &__name {
        font-size: 24px;
        font-weight: bold;
        display: inline-block;
        z-index: 2;
    }

    &__av {
        margin-top: 8px;
        margin-right: 16px;
    }

    &__text {
        max-width: 100%;
        margin-top: 8px;
    }

    &__content {
        @include flex-layout(column, flex-start, flex-start);
        background-color: #b2b2ff;
        position: relative;
        padding: 8px;
        border-radius: 16px;
        max-width: 100%;
        overflow-wrap: break-word;
        box-shadow: 2px 2px 1px gray;

        &::after {
            content: '';
            position: absolute;
            left: -10px;
            width: 0;
            top: 0;
            border: 40px solid transparent;
            border-right-color: #b2b2ff;
            border-left: 0;
            border-top: 0;
        }
    }

    img {
        border-radius: 50%;
        width: 32px;
        height: 32px;
    }
}