@import '../../styles/globals.scss';

.room-panel {
    background-color: white;
    width: 256px;
    height: 100%;
    padding: 8px;
    box-sizing: border-box;

    & &__search {
        margin-bottom: 8px;
    }

    &__list {
        @include flex-layout(column, center, center);
        overflow: scroll;
        max-height: 95%;

        overflow-y: scroll;
        overflow-x: hidden;
    }
}